.modal
	display: none
	position: fixed
	z-index: 25
	padding-top: 50px
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	overflow: hidden
	background-color: #555

	.close
		color: #fff
		position: absolute
		top: 10px
		right: 25px
		font-size: 35px

		&:hover, &:focus
			color: #ffa216
			text-decoration: none
			cursor: pointer

	.modal-content
		position: relative
		background-color: #555
		margin: auto
		padding: 0
		width: 100%
		max-width: 1000px
		height: 100%

		@media (max-width: 1000px)
			max-width: 100vw

		.mySlides
			display: none

			.numbertext
				color: #f2f2f2
				font-size: 12px
				padding: 8px 12px
				position: absolute
				top: 0
				display: none

			img
				max-width: 1000px

				@media (max-width: 1000px)
					max-width: 100vw

				
		.prev, .next
			cursor: pointer
			position: absolute
			top: 45%
			width: auto
			padding: 24px
			margin-top: 0
			color: #ddd
			font-size: 40px
			transition: 0.6s ease
			border-radius: 0 3px 3px 0
			user-select: none
			text-decoration: none

			&:hover
				background-color: rgba(255, 162, 22, 0.7)

		.next
			right: 0
			border-radius: 3px 0 0 3px
