/* Sass Document */
@import url("https://fonts.googleapis.com/css?family=Cinzel|Lato:300,700&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none; }

/* Colors */
/*Breakpoints */
body {
  margin: 0 auto;
  background-color: #ffe;
  background-size: cover;
  background-repeat: repeat-y;
  font-family: "Lato";
  font-weight: 300; }

a:-webkit-any-link {
  text-decoration: none;
  cursor: auto; }

a {
  text-decoration: none; }

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto; }

.fixed {
  position: fixed;
  top: 0; }

.static {
  position: static; }

/*Social bar */
.social {
  min-height: 50px;
  width: 100%;
  background-color: #ccc;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .social {
      position: fixed;
      top: 0; } }
  .social .container {
    display: block; }
    .social .container .social-top {
      display: inline-block;
      float: right; }
      @media screen and (max-width: 768px) {
        .social .container .social-top {
          display: none; } }
      .social .container .social-top a button {
        display: inline-block;
        align-content: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        line-height: 20px;
        font-size: 24px;
        border-radius: 5px;
        background-color: #fff;
        outline: none;
        margin: 10px;
        border: 1px solid #aaa;
        box-shadow: 0 0 2px #00b; }
        .social .container .social-top a button:active {
          box-shadow: 0 0 10px #fff;
          transform: scale(0.94); }
    .social .container .navigation {
      display: none; }
      @media screen and (max-width: 768px) {
        .social .container .navigation {
          display: block;
          width: 100%; } }
      .social .container .navigation .logo_small {
        height: 46px;
        float: left;
        display: none; }
        @media screen and (max-width: 768px) {
          .social .container .navigation .logo_small {
            display: block; } }
        .social .container .navigation .logo_small img {
          height: 46px;
          margin-left: 10px;
          margin-top: 2px; }
      .social .container .navigation .hamburger-menu {
        height: 40px;
        width: 40px;
        border-radius: 3px;
        border: 1px solid #aaa;
        color: #fff;
        background-color: #87b04a;
        outline: none;
        margin: 5px;
        font-size: 28px;
        line-height: 30px;
        float: right;
        padding: 5px; }

#navbar {
  width: 100%;
  background-color: #ccc;
  flex-direction: column;
  text-align: center;
  border: none;
  position: absolute;
  top: 50px;
  left: 0;
  margin-bottom: 0; }
  #navbar a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 90vw;
    text-align: center;
    font-size: 18px;
    background-color: #ffb216;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px; }

#nav-icon1 {
  margin: 0;
  padding: 0;
  width: 28px;
  height: 24px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.55s ease-in-out;
  cursor: pointer; }
  #nav-icon1 span {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.55s ease-in-out; }
  #nav-icon1 span:nth-child(1) {
    top: 0px;
    background-color: #ef572c; }
  #nav-icon1 span:nth-child(2) {
    top: 10px;
    background-color: #d03277; }
  #nav-icon1 span:nth-child(3) {
    top: 20px;
    background-color: #ef572c; }

#nav-icon1.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg); }
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -28px; }
#nav-icon1.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg); }

#facebook {
  color: #3b5998; }
  #facebook:hover {
    color: #fff;
    background-color: #3b5998; }

#instagram {
  color: #eb4839; }
  #instagram:hover {
    color: #fff;
    background-color: #eb4839; }

#pinterest {
  color: #bd081c; }
  #pinterest:hover {
    color: #fff;
    background-color: #bd081c; }

/*Navigation bar */
header {
  background-color: #eee;
  width: 100%;
  min-height: 60px;
  z-index: 1; }
  @media screen and (max-width: 1200px) {
    header {
      justify-content: center; } }
  @media screen and (max-width: 768px) {
    header {
      display: none; } }
  header .navbar {
    justify-content: space-between; }
    @media screen and (max-width: 1200px) {
      header .navbar {
        flex-direction: column;
        text-align: center;
        border: none; } }
    header .navbar .logo {
      height: 60px; }
      header .navbar .logo:hover {
        box-shadow: 2px 2px 4px #006; }
      header .navbar .logo:active {
        transform: scale(0.95); }
      header .navbar .logo img {
        height: 50px;
        margin: 5px 15px; }
    header .navbar .navmenu {
      display: flex;
      align-content: center; }
      @media screen and (max-width: 1200px) {
        header .navbar .navmenu {
          width: 100%;
          margin: 10px auto;
          justify-content: space-around; } }
      header .navbar .navmenu ul {
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content: space-between;
        align-content: center;
        padding: 0;
        margin-top: auto;
        margin-bottom: auto; }
        header .navbar .navmenu ul a {
          width: 130px;
          height: 50px;
          list-style-type: none;
          font-size: 18px;
          text-transform: uppercase;
          color: #fff;
          text-align: center;
          line-height: 50px;
          background-color: #ffb216;
          border-radius: 5px;
          box-shadow: 1px 1px 3px #006; }
          header .navbar .navmenu ul a:active {
            box-shadow: 0 0 2px #00a;
            color: #ff3;
            text-shadow: 0 0 1px #00a; }
          header .navbar .navmenu ul a:active li {
            transform: translate(-1px -1px); }

#about-btn:hover {
  background-color: #ef572c; }

#mission-btn:hover {
  background-color: #97d4df; }

#gallery-btn:hover {
  background-color: #d03277; }

#prices-btn:hover {
  background-color: #0c4d8a; }

#contact-btn:hover {
  background-color: #87b04a; }

/*Jumbotron */
.jumbotron {
  width: 100%;
  height: 80vh;
  background-image: url(https://github.com/ladom/atiart/blob/master/bg_new.jpg?raw=true);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center; }
  .jumbotron .container {
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%; }
    .jumbotron .container .slogan {
      background-color: rgba(100, 100, 100, 0.5);
      border-radius: 5px;
      margin-top: 180px; }
      .jumbotron .container .slogan h1 {
        padding: 20px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 5px #555; }

/* Section about */
@media (max-width: 400px) {
  .about div {
    width: 100vw; } }
.about div .aboutHeader {
  height: 60px;
  width: 250px;
  background-color: #ef572c;
  color: #fff;
  border-radius: 5px; }
  @media (max-width: 400px) {
    .about div .aboutHeader {
      width: 100%; } }
  .about div .aboutHeader h1 {
    margin: 0;
    line-height: 60px;
    width: 100%; }
.about .par3 {
  display: inline-block;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%; }
  .about .par3 img {
    width: 200px;
    float: left;
    margin-right: 20px; }
    @media (max-width: 400px) {
      .about .par3 img {
        width: 90vw;
        float: none;
        margin-right: 0;
        margin: 0; } }
  .about .par3 p {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    color: #333; }
    .about .par3 p .coll-dots {
      text-decoration: none; }
      @media screen and (max-width: 768px) {
        .about .par3 p .coll-dots {
          display: none; } }
  @media screen and (max-width: 768px) {
    .about .par3 #more {
      display: inline; } }

/* Mission section */
@media (max-width: 400px) {
  .mission div {
    width: 100vw; } }
.mission div .missionHeader {
  height: 60px;
  width: 250px;
  background-color: #97d4df;
  color: #fff;
  border-radius: 5px; }
  @media (max-width: 400px) {
    .mission div .missionHeader {
      width: 100%; } }
  .mission div .missionHeader h1 {
    margin: 0;
    line-height: 60px;
    width: 100%; }
.mission div .par1 {
  display: inline-block;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%; }
  .mission div .par1 img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px; }
  .mission div .par1 p {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    color: #333; }
.mission div .par2 {
  display: inline-block;
  max-width: 1200px;
  margin: 20px auto;
  width: 100%; }
  .mission div .par2 img {
    width: 100px;
    height: 100px;
    float: right;
    margin-left: 20px; }
  .mission div .par2 p {
    margin: 0;
    font-size: 20px;
    line-height: 1.6;
    text-align: justify;
    color: #333; }

.about div:first-child, .mission div:first-child {
  margin: 50px auto;
  flex-direction: column;
  text-align: center; }

/*Pictures gallery */
.modal {
  display: none;
  position: fixed;
  z-index: 25;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #555; }
  .modal .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px; }
    .modal .close:hover, .modal .close:focus {
      color: #ffa216;
      text-decoration: none;
      cursor: pointer; }
  .modal .modal-content {
    position: relative;
    background-color: #555;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1000px;
    height: 100%; }
    @media (max-width: 1000px) {
      .modal .modal-content {
        max-width: 100vw; } }
    .modal .modal-content .mySlides {
      display: none; }
      .modal .modal-content .mySlides .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
        display: none; }
      .modal .modal-content .mySlides img {
        max-width: 1000px; }
        @media (max-width: 1000px) {
          .modal .modal-content .mySlides img {
            max-width: 100vw; } }
    .modal .modal-content .prev, .modal .modal-content .next {
      cursor: pointer;
      position: absolute;
      top: 45%;
      width: auto;
      padding: 24px;
      margin-top: 0;
      color: #ddd;
      font-size: 40px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
      text-decoration: none; }
      .modal .modal-content .prev:hover, .modal .modal-content .next:hover {
        background-color: rgba(255, 162, 22, 0.7); }
    .modal .modal-content .next {
      right: 0;
      border-radius: 3px 0 0 3px; }

.galleryHeader {
  height: 60px;
  width: 250px;
  background-color: #d03277;
  color: #fff;
  border-radius: 5px;
  margin: 50px auto;
  text-align: center; }
  @media (max-width: 400px) {
    .galleryHeader {
      width: 100%; } }
  .galleryHeader h1 {
    margin: 0;
    line-height: 60px;
    width: 100%; }

.gallery {
  min-height: 40vw;
  width: 100%;
  line-height: 0;
  margin-top: 50px;
  margin-bottom: 50px; }
  @media screen and (max-width: 768px) {
    .gallery {
      min-height: 100vw; } }
  .gallery .photo {
    width: 25%;
    height: 20vw;
    float: left; }
    @media screen and (max-width: 768px) {
      .gallery .photo {
        width: 100%;
        height: 100vw;
        float: none; } }
    .gallery .photo:hover .cover {
      display: block; }
    .gallery .photo img {
      width: 100%;
      height: 20vw;
      z-index: -1; }
      @media screen and (max-width: 768px) {
        .gallery .photo img {
          width: 100%;
          height: 100vw; } }
    .gallery .photo .cover {
      display: none;
      width: 100%;
      height: 20vw;
      background-color: rgba(100, 100, 100, 0.4);
      line-height: 20vw;
      position: relative;
      top: -20vw;
      text-align: center;
      z-index: 0; }
      @media screen and (max-width: 768px) {
        .gallery .photo .cover {
          display: none;
          width: 100%;
          height: 100vw;
          line-height: 100vw;
          top: -100vw; } }
      .gallery .photo .cover a {
        line-height: 20vw; }
        @media screen and (max-width: 768px) {
          .gallery .photo .cover a {
            line-height: 100vw; } }
        .gallery .photo .cover a .photo-btn {
          width: 40px;
          height: 40px;
          background-color: #ffa216;
          color: #006;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 24px;
          line-height: 30px;
          outline: none; }
          @media screen and (max-width: 768px) {
            .gallery .photo .cover a .photo-btn {
              width: 60px;
              height: 60px;
              background-color: #ffa216;
              color: #006;
              border: none;
              border-radius: 5px;
              cursor: pointer;
              font-size: 34px;
              line-height: 40px;
              outline: none; } }

@media screen and (max-width: 768px) {
  .photo:nth-child(5), .photo:nth-child(6), .photo:nth-child(7), .photo:nth-child(8) {
    display: none; } }

/*Prices table */
.prices {
  margin-top: 100px;
  margin-bottom: 100px; }
  .prices .pricesHeader {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
    height: 60px;
    width: 250px;
    background-color: #0c4d8a;
    color: #fff;
    border-radius: 5px;
    text-align: center; }
    @media (max-width: 400px) {
      .prices .pricesHeader {
        width: 100vw; } }
    .prices .pricesHeader h1 {
      margin: 0;
      line-height: 60px;
      width: 100%; }
  .prices .container-prices {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
    .prices .container-prices .package {
      text-align: center;
      padding: 10px;
      position: static; }
      .prices .container-prices .package h3 {
        line-height: 35px; }
        .prices .container-prices .package h3:nth-child(1) {
          text-align: left;
          margin-left: 20px; }
        .prices .container-prices .package h3:nth-child(2) {
          text-align: center;
          font-size: 28px; }
      .prices .container-prices .package .price-row {
        width: 100%;
        margin: 0; }
        .prices .container-prices .package .price-row .price-atr {
          text-align: center;
          position: static; }
          .prices .container-prices .package .price-row .price-atr div {
            height: 150px;
            width: 200px;
            margin: 20px auto;
            color: #fff;
            border-radius: 10px;
            box-shadow: 2px 2px 5px #555; }
            @media screen and (max-width: 600px) {
              .prices .container-prices .package .price-row .price-atr div {
                width: 35vw; } }
            .prices .container-prices .package .price-row .price-atr div p {
              font-size: 50px;
              text-align: center;
              line-height: 150px;
              text-shadow: 2px 2px 3px #555; }
              @media screen and (max-width: 600px) {
                .prices .container-prices .package .price-row .price-atr div p {
                  font-size: 30px; } }
          .prices .container-prices .package .price-row .price-atr h4 {
            font-size: 30px;
            text-align: center; }
      .prices .container-prices .package .price-text {
        width: 100%;
        padding: 20px; }
        .prices .container-prices .package .price-text p {
          text-align: justify;
          font-size: 20px;
          line-height: 1.6;
          text-align: justify;
          color: #333; }

.time {
  background-color: #ef572c; }

.price {
  background-color: #97d4df; }

.time1 {
  background-color: #87b04a; }

.price1 {
  background-color: #d03277; }

/*Footer */
footer {
  background-color: #eee; }
  footer div {
    margin-bottom: 0; }
    footer div .flex-row {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: 200px; }
      @media screen and (max-width: 1200px) {
        footer div .flex-row {
          flex-direction: column; } }
      @media screen and (max-width: 768px) {
        footer div .flex-row {
          margin-bottom: 0;
          padding-bottom: 30px; } }
      footer div .flex-row .left-col {
        width: 25%; }
        @media screen and (max-width: 1200px) {
          footer div .flex-row .left-col {
            width: 100%; } }
        footer div .flex-row .left-col ul {
          list-style-type: none;
          padding-left: 0; }
          footer div .flex-row .left-col ul a {
            color: inherit; }
      footer div .flex-row .middle-col {
        width: 50%;
        justify-content: center; }
        @media screen and (max-width: 1200px) {
          footer div .flex-row .middle-col {
            width: 100%; } }
        footer div .flex-row .middle-col .map {
          text-align: center; }
          footer div .flex-row .middle-col .map iframe {
            width: 500px;
            height: 300px;
            border: 2px solid #ccc;
            margin-bottom: 20px; }
            @media screen and (max-width: 1200px) {
              footer div .flex-row .middle-col .map iframe {
                margin: 30px auto; } }
            @media screen and (max-width: 600px) {
              footer div .flex-row .middle-col .map iframe {
                width: 90vw; } }
      footer div .flex-row .right-col {
        display: flex;
        height: 100%;
        width: 25%;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        padding-top: 50px; }
        @media screen and (max-width: 1200px) {
          footer div .flex-row .right-col {
            width: 100%;
            justify-content: space-around;
            padding: 30px 0; } }
        footer div .flex-row .right-col a {
          display: flex;
          width: 40px;
          height: 40px; }
          footer div .flex-row .right-col a button {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 30px;
            outline: none;
            border-radius: 5px;
            font-size: 24px;
            background-color: #fff;
            margin: 10px auto;
            border: 1px solid #aaa;
            box-shadow: 0 0 2px #00b; }
            footer div .flex-row .right-col a button:active {
              box-shadow: 0 0 10px #fff;
              transform: scale(0.94); }
            @media screen and (max-width: 1200px) {
              footer div .flex-row .right-col a button {
                margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
